@model Message

@{
    ViewData["Title"] = "MessageDetail";
    Layout = "~/Views/UserLayout/Index.cshtml";

    var timeDiff = DateTime.Now - Model.SendDate;

    string timeagoText;

    if (timeDiff.TotalSeconds < 60)
    {
        timeagoText = "Şimdi";
    }
    else if (timeDiff.TotalMinutes < 60)
    {
        timeagoText = $"{(int)timeDiff.TotalMinutes} dakika önce";
    }
    else if (timeDiff.TotalHours < 24)
    {
        timeagoText = $"{(int)timeDiff.TotalHours} saat önce";
    }
    else if (timeDiff.TotalDays < 30)
    {
        timeagoText = $"{(int)timeDiff.TotalDays} gün önce";
    }
    else
    {
        timeagoText = Model.SendDate.ToString("dd.MM.yyyy");
    }
}

<div class="inbox-area">
    <div class="container">
        <div class="row">
            @await Component.InvokeAsync("_MessageSidebarComponentPartial")

            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <div class="view-mail-list sm-res-mg-t-30">
                    <div class="view-mail-hd">
                        <div class="view-mail-hrd">
                            <h2>Mail Detayları</h2>
                        </div>
                        <div class="view-ml-rl">
                            <p>@timeagoText</p>
                        </div>
                    </div>
                    <div class="mail-ads mail-vw-ph">
                        <p class="first-ph"><b>Subject: </b>@Model.Subject</p>
                        <p><b>Email:</b> <a href="#">@Model.SenderEmail</a></p>
                        <p class="last-ph"><b>Tarih:</b> @Model.SendDate.ToString("dd/MM/yyyy HH:mm")</p>
                    </div>
                    <div class="view-mail-atn">
                       <p>@Model.MessageDetail</p>
                    </div>
                 
                    <div class="vw-ml-action-ls text-right mg-t-20">
                        <div class="btn-group ib-btn-gp active-hook nk-email-inbox">
                            <button class="btn btn-default btn-sm waves-effect"><i class="notika-icon notika-next"></i> Yanıtla</button>
                            <button class="btn btn-default btn-sm waves-effect"><i class="notika-icon notika-right-arrow"></i> Yönlendir</button>
                            <button class="btn btn-default btn-sm waves-effect"><i class="notika-icon notika-print"></i> Yazdır</button>
                            <button class="btn btn-default btn-sm waves-effect"><i class="notika-icon notika-trash"></i> Sil</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


</div>