@model List<AppUser>
@{
    ViewData["Title"] = "RoleList";
    Layout = "~/Views/UserLayout/Index.cshtml";
    int id = 1;
}


<div class="form-element-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-element-list">
                    <div class="basic-tb-hd">
                        <h2>Kullanıcı Listeleri</h2>
                    </div>
                    <br />
                    <div class="row mt-5">

                        <table class="table table-bordered table-hover">
                            <tr>
                                <th>#</th>
                                <th>Ad Soyad</th>
                                <th>Kullanıcı Adı</th>
                                <th>Mail</th>
                                <th>Rol Ata</th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@id</td>
                                    <td>@item.Name @item.Surname</td>
                                    <td>@item.UserName</td>
                                    <td>@item.Email</td>
                                    <td><a href="/Role/AssignRole/@item.Id" class="btn btn-primary">ROL ATA</a></td>
                                </tr>

                                id++;
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

