@model List<Comment>

@{
    ViewData["Title"] = "UserCommentList";
    Layout = "~/Views/UserLayout/Index.cshtml";
    int id = 1;

}


<div class="form-element-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-element-list">
                    <div class="basic-tb-hd">
                        <h2>Yorum Listesi</h2>
                    </div>
                    <br />
                    <a href="/Comment/CreateComment" class="btn btn-success"> Rol Ekle</a>
                    <div class="row mt-5">

                        <table class="table table-bordered table-hover">
                            <tr>
                                <th>#</th>
                                <th>Kullanıcı</th>
                                <th>Yorum</th>
                                <th>Tarih</th>
                                <th>Durum</th>
                                <th>Yorum Sil</th>
                                <th>Pasife Çek</th>
                                <th>Yorumu Onayla</th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@id</td>
                                    <td>@item.AppUser.Name @item.AppUser.Surname</td>
                                    <td>@item.Text</td>
                                    <td>@item.Date.ToString("dd/MM/yyyy HH:mm")</td>
                                    <td>@item.Status</td>
                                    <td><a href="/Comment/DeleteComment/@item.CommentID" class="btn btn-danger">Yorum Sil</a></td>
                                    <td><a href="/Comment/PassiveComment/@item.CommentID" class="btn btn-warning">Pasif Yap</a></td>
                                    <td><a href="/Comment/ConfirmComment/@item.CommentID" class="btn btn-success">Onayla</a></td>
                                </tr>

                                id++;
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


